BasedOnStyle: LLVM 
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Attach
NamespaceIndentation: All
ColumnLimit: 0